.main {
  display: flex;
  flex-direction: column;
}

.center-box {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 25px;
  border: white 1px solid;
  margin-top: -50px;
}
